@import '@assets/scss/mixin.scss';
// 初始化样式
body {background-color: #fff;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:underline; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
input { outline: none; }

$blue: #3190e8;  
$bc: #e4e4e4;
$fc:#fff;
$theam: #fd7200;
// 城市选择页面距离顶部的距离
$cityTop: 172px;

//定位全屏
.allcover{
	position:absolute;
	top:0;
	right:0;
}

//定位上下左右居中
.center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
.ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
.cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

.ell {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/* clearfix */
.clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

// border
.border_topbottom::after {
    border: 1px solid #000;
}

.border_topbottom::before {
    border: 1px solid #000;
}

.border_bottom::after {
    border: 1px solid #000;
}