@import '@assets/scss/mixin.scss';
// 初始化样式
* { touch-action: pan-y; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:24px; } 
ul, ol { list-style:none; } 
a,a:hover,a:active,a:visited,a:link,a:focus, button{
    -webkit-tap-highlight-color:rgba(2, 1, 1, 0);
    -webkit-tap-highlight-color: transparent;
    outline:none;
    background: none;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none; 
    color: inherit;
    border: 0
}
::selection { 
    background: #FFF; 
    color: #333; 
} 
::-moz-selection { 
    background: #FFF; 
    color: #333; 
} 
::-webkit-selection { 
    background: #FFF; 
    color: #333; 
}
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; vertical-align: middle;} 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
input { 
    outline: none; 
    border: 0 
}
// 轮播图页码颜色
/deep/ .van-swipe__indicator {
    opacity: 1;
    background-color: #ccc
}
/deep/ .van-swipe__indicator--active {
    background-color: #ff8620
}
                        
$blue: #3190e8;  
$bc: #e4e4e4;
$bc1: #f5f5f5;
// 页面背景-灰色
$bc2: #f6f6f6;
$fc:#ffffff;
// 头部主题色
$theam: #ff8620;
// 头部的标准灰色
$headerBlack: #252525;
// 头部的返回箭头颜色
$arrowGrey: #8b8b8b;
// 头部下边框的border颜色
$headerBorderColor: #e5e5e5;
// 城市选择页面距离顶部的距离

$cityTop: 192px;
// 头部标准高度
$headerIndexTop: 88px;
// 尾部标准高度
$footerIndexTop: 94px;
// 头部与尾部的中间区域的可视高
$hftop: calc(100vh - 182px);
// 去掉头部的中间区域的可视高
$htop: calc(100vh - 88px);
// 购物车的中间区域的可视高+100px底部固定区域
$hfcarttop: calc(100vh - 282px);
// 产品中间区域的可视高-头部固定区域
$hfprodtop: calc(100vh - 94px); // 398
// 订单提交页面中间区域的可视高-头部固定区域
$hfordertop: calc(100vh - 294px);
$hpopuptop: calc(68vh - 398px);
$hpopupmintop: calc(36vh - 304px);
$hpopupContainerMaxtop: 68vh;
$hpopupContainerMintop: calc(36vh + 94px);
$horderlisttop: calc(100vh - 188px);
// 头部与尾部的z-index层级
$fixedPositionZIndex: 99;
// 头部左边箭头大小
$borderArrowSize: 20px;
$higherPositionZIndex: 999;
$highestPositionZIndex: 1000;

// 全局公用的点击背景墙
.click_bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
}
//定位全屏
.allcover{
	position:absolute;
	top:0;
	right:0;
}

//定位上下左右居中
.center {  
	position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
.ct {  
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
}

//定位左右居中
.cl {  
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
}

.ell {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dib {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
/* clearfix */
.clearfix {
    &:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        line-height: 0;
        overflow: hidden;
    }
    *height: 1%;
}

// border
.border_topbottom::after {
    border: 1px solid #000;
}

.border_topbottom::before {
    border: 1px solid #000;
}

.border_bottom::after {
    border: 1px solid #000;
}

.bscroll-vertical-scrollbar {
    width: 6px !important;
    right: 8px !important;
    z-index: 98 !important;

}
.bscroll-vertical-scrollbar .bscroll-indicator {
    background: #BFBFBF !important;
    border: 0 !important;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
// 从下往上进入tr动画
.fade-enter-active, .fade-leave-active {
    opacity: 1;
    transform: scaleY(1);
    transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0.1s,
    opacity 0.3s cubic-bezier(0.23, 1, 0.32, 1) 0.1s;
    transform-origin: center bottom;
}


.fade-enter, .fade-leave-to {
    opacity: 0;
    transform: scaleY(0);
}