// 背景图片地址和大小
@mixin bis($url) { 
	background-image: url($url);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}


//宽高
@mixin wh($width, $height){
	width: $width;
	height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {  
	font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color){
	font-size: $size;
	color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between){
	display: flex;
	justify-content: $type;

}

/* minheight */
@mixin minHeight($min-height) {
    min-height: $min-height;
    height: auto !important;
    height: $min-height;
}


/* 实心箭头
arrow(direction,
size,
color);
*/
@mixin arrow($direction,
$size,
$color) {
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: $size;
    cursor: pointer;
    @if $direction == top {
        border-style: dashed dashed solid dashed;
        border-color: transparent transparent $color transparent;
        border-top: none;
    }
    @else if $direction == bottom {
        border-style: solid dashed dashed dashed;
        border-color: $color transparent transparent transparent;
        border-bottom: none;
    }
    @else if $direction == right {
        border-style: dashed dashed dashed solid;
        border-color: transparent transparent transparent $color;
        border-right: none;
    }
    @else if $direction == left {
        border-style: dashed solid dashed dashed;
        border-color: transparent $color transparent transparent;
        border-left: none;
    }
}

/* 透明边框箭头
arrow(direction,
size,
color);
*/
@mixin borderArrow($direction,
$size,
$color) {
    width: $size;
    height: $size;
    cursor: pointer;
    display: inline-block;
    @if $direction == top {
        border-top: 1px solid $color;
        border-left: 1px solid $color;
        transform: rotate(45deg);
    }
    @else if $direction == bottom {
        border-bottom: 1px solid $color;
        border-left: 1px solid $color;
        transform: rotate(-45deg);
    }
    @else if $direction == right {
        border-top: 1px solid $color;
        border-right: 1px solid $color;
        transform: rotate(45deg);
    }
    @else if $direction == left {
        border-bottom: 1px solid $color;
        border-left: 1px solid $color;
        transform: rotate(45deg);
    }
}